<h1>Please select a state</h1>

<div class="list">
<ul>
  <% @states.each do |state| %>
    <li><%= link_to "#{state.name} - #{state.abb}", state_cities_path(state) %></li>
    <%= city_count_for(state) %><br>
  <% end %>
</ul>
</div>
