<h1><%= @city.name %> - <%= link_to @city.state_abb, state_cities_path(@city.state) %></h1>
<p>We have found the following record stores in this city:</p>
<div class="list">
<ul>
  <% @city.stores.each do |store| %>
  <li><%= link_to store.name, store %></li>
  <% end %>
</ul>
</div>
