/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
  font-family: "PermanentMarker-Regular";
  src: url('PermanentMarker-Regular.ttf') format("truetype");
}

body {
    margin: auto;
    text-align: center;
    font-family: serif;
    font-size: 25px;
    color: black;

    height: 100vh;
    width: 100vh;
    position: static;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%, 50%;
    background-image: url("background records-1200x795.jpg"); 
}

nav {
    margin: auto;
    padding: 0;
    text-align: center;
    font-family: "PermanentMarker-Regular";
    font-size: 27px;
    background-color: rgba(175, 147, 35, 1);
}

nav a {
  color: blue;
}

a {
  color: red;
}

div.pages {
  background-color: rgba(254, 254, 223, 0.822);
  position: sticky;
  min-height: 91vh;
}

div.form {
    margin: auto;
    padding-top: 20px;
    text-align: center;
}

div.list {
  list-style-position: inside;
}

div.list-no-bullets {
  list-style-position: inside;
  list-style-type: none;
}

div.comments {
  list-style-position: inside;
}

div.errors {
  color: red;
}

ul.errors {
  color: red;
  list-style-position: inside;
  list-style-type: none;
}